body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.content {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

table, td, th {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

table {
    width: 100%;
    margin-top: 20px;
}

th {
    height: 50px;
    background-color: #4CAF50;
    color: white;
}

td {
    text-align: center;
    padding: 15px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
}